.home {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.post {
  width: 30%;
  height: 20%;
}
.post_image > img {
  width: 400px;
  height: 400px;
}
