.card{
    position: fixed;
    text-align: center;
    padding: 10px;
    margin:10px auto;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    max-width: 50vh;
    max-height: 50vh;
}
.signin{
    border-top:10px solid lightblue;
}